html, body, header, h1 {
    margin: 0px;
    padding: 0px;
}
html {
    background-color: #ddd;
}
img {
    vertical-align: middle;
}
footer {
    text-align: center;
}
header {
    text-align: right;
    background-color: #ffc229;
    color: white;
}
header h1 {
    float: left;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    padding: .2em;
    border: .3em solid  #ffc229;
}
header nav ul li.active {
    border-bottom-color: #fff;
}
header a {
    color: #000;
    text-decoration: none;
}
header a:hover {
    color: #555;
}
header img {
    height: 2em;
}
main, footer {
    margin: 0px;
    padding: 1em;
    margin: auto;
    width: 70%;
    max-width: 50em;
    background-color: #fff;
}
h1, h2, h3, h4, h5, nav ul li, a {
    font-family: 'sans-serif';
}
img[src$="#center"] {
    display:block;
    margin:auto;
    height:auto;
}    
img[src*="/get-it-on.png"],
img[src*="/en_badge_web_generic.png"],
img[src*="/github.png"] {
    height: 4em;
}
img[src*="/chromaticity.jpg"] {
    height: 10em;
}
img[src*="/luminance.jpg"] {
    height: 2em;
}
